[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Calendar
Comment=opens Google Calendar
Exec=firefox https://calendar.google.com/calendar/u/0/r/week
Icon=/home/wadeallen/Pictures/calendar.png
Terminal=false
