[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Every Dollar
Comment=opens Every Dollar
Exec=firefox https://www.everydollar.com/app/
Icon=/home/wadeallen/Pictures/everydollar.png
Terminal=false
