[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gmail
Comment=opens gmail
Exec=firefox https://mail.google.com
Icon=/home/wadeallen/Pictures/gmail.png
Terminal=false
