[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Home Assistant
Comment=opens Home Assistant
Exec=firefox https://home.wadeallen.me/
Icon=/home/wadeallen/Pictures/home-assistant.png
Terminal=false
