[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Notes
Comment=opens apple notes
Exec=firefox https://www.icloud.com/notes/
Icon=/home/wadeallen/Pictures/notes.png
Terminal=false
