[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Todoist
Comment=opens todoist 
Exec=firefox https://todoist.com/app/today
Icon=/home/wadeallen/Pictures/todoist.png
Terminal=false
