[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twist
Comment=opens twist
Exec=/snap/bin/chromium --force-device-scale-factor=1.5 https://twist.com/a/
Icon=/home/wadeallen/Pictures/twist.png
Terminal=false
