[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Twist
Comment=opens twist
Exec=firefox https://twist.com/a/
Icon=/home/wadeallen/Pictures/twist.png
Terminal=false
