[Desktop Entry]
Type=Application
Exec=/home/wadeallen/bin/startconky
Hidden=false
X-GNOME-Autostart-enabled=true
Name=conky
Comment=start conky on desktop
